{% extends "base.html" %}
{% block title %}Адмінка{% endblock %}

{% block content %}
<h1>Адмін панель</h1>

<h2>Користувачі</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Логін</th>
            <th>Адмін</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ "Так" if user.is_admin else "Ні" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Замовлення</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Опис</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.date_created }}</td>
            <a href="/admin/products/add">➕ Додати товар</a>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Відгуки</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Текст</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for fb in feedbacks %}
        <tr>
            <td>{{ fb.id }}</td>
            <td>{{ fb.text }}</td>
            <td>{{ fb.date_created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}